<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeKeeper</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/style/backgrounds.css">
    <link rel="stylesheet" href="/resources/style/fonts.css">
    <link rel="stylesheet" href="/resources/style/font-colors.css">
    <link rel="stylesheet" href="/resources/style/index.css">

</head>
<body class="bg-pink-pastel">
<img class="img-background" src="/resources/media/indexBg.svg">

<div class="page-wrapper container-fluid">
    <div class="logo-type comfortaa-bold"><span class="color-navy">HOME</span><span class="color-gray">KEEPER</span></div>

    <div class="welcome-block comfortaa-bold">
        <div class="r1 color-navy">ВСЁ УЧТЕНО</div>
        <div class="r2 color-grey">РАСЧЁТ, СРАВНЕНИЕ</div>
        <div class="r3 color-navy">СОХРАНЕНИЕ</div>
        <div class="r4 color-gray comfortaa-regular">В ОДНОМ МЕСТЕ, ДОСТУПНО, УДОБНО</div>

        <div class="auth-block row bg-wwhite">
            <div class="label col-xl-6"><div><span>ДЛЯ НАЧАЛА РАБОТЫ НУЖНО</span></div></div>
            <div class="button col-xl-6"><div class="aligner"><div class="bg-navy color-white"><a href="/dashboard">АВТОРИЗОВАТЬСЯ</a></div></div></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>